# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Docker
docker/airflow/logs/
docker/spark/jars/*.jar

# Airflow
logs/
airflow.db

# MinIO data
minio_data/

# Test / Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# OS
.DS_Store
Thumbs.db

# Spark
metastore_db/
derby.log
spark-warehouse/
